<app-menu></app-menu>
<div>
    <h3>Product List</h3>
    <span *ngIf="isAdmin">
        <a routerLink="/products/create">Create a Product</a> | 
    </span>
    
    <input [(ngModel)]="searchCriteria" type="text" placeholder="Search">
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Vendor</th>
                <th>Part Number</th>
                <th>Name</th>
                <th>Price</th>
                <th>Unit</th>
                <th>Photo Path</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of products | searchProduct: searchCriteria">
                <td>{{p.id}}</td>
                <td>{{p.vendor.name}}</td>
                <td>{{p.partNumber}}</td>
                <td>{{p.name}}</td>
                <td>{{p.price}}</td>
                <td>{{p.unit}}</td>
                <td>{{p.photoPath}}</td>



                <td>
                    <a routerLink="/products/detail/{{p.id}}">Detail</a>
                    <span *ngIf="isAdmin">
                         |
                        <a routerLink="/products/edit/{{p.id}}">Edit</a>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>