<app-menu></app-menu>
<p>product-list works!</p>
<div>
    <h3>Product List</h3>
    <a routerLink="/products/create">Create a Product</a> |
    <input type="text" placeholder="Search">
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Vendor</th>
                <th>Part Number</th>
                <th>Name</th>
                <th>Price</th>
                <th>Unit</th>
                <th>Photo Path</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of products">
                <td>{{p.id}}</td>
                <td>{{p.vendor.name}}</td>
                <td>{{p.partNumber}}</td>
                <td>{{p.name}}</td>
                <td>{{p.price}}</td>
                <td>{{p.unit}}</td>
                <td>{{p.photoPath}}</td>



                <td>
                    <a routerLink="/products/detail/{{p.id}}">Detail</a> |
                    <a routerLink="/products/edit/{{p.id}}">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>