<app-menu></app-menu>
<div>
    <div id="container">
        <div class="vertical-center">
            <span><h1>Product Request System</h1></span>
            <div >
                <label>Username: </label><input [(ngModel)]="user.username" type="text"  placeholder="Enter username" required>
                <label>Password: </label><input [(ngModel)]="user.password" type="password" placeholder="Enter password" required>
                <button type="button" (click)="login()" class="btn btn-primary btn-lg btn-block">Login</button>
                <span></span>
            </div>
        <div class="font-weight-bold text-danger">
            {{message}}
        </div>
        </div>
        
        
    </div>
    

</div>